{% extends "student/student_base.html" %}
{% block body %}

<h1>Student Opportunities Bulletin</h1>
<h4><i>Please note there are offerings in many different fields, and remember that many deadlines are coming up fast. </i></h4>
<br>


  <div class="row">
    <div class="col-md-7">
      <h3>{{ opportunity.name }}</h3>
    </div>
    <div class="col-md-5">
      {% if o in g.user.opportunities_following %}
      <input class="tog" name="starbox" type="checkbox" value={{o}} checked/>
      <p class="toggle" id="tog"+opportunities.items[loop.index0]>&#9733;</p>
      {% else %}
      <input class="tog" name="starbox" type="checkbox" value={{o}}/>
      <p class="toggle" id="tog"+opportunities.items[loop.index0]>&#9734;</p>
      {% endif %}
    </div>
  </div>
  <br>

<p>Description: {{ opportunity.description }}</p>
<p>Organization: {{ opportunity.organization }}</p>
<p>Start Time: {{ opportunity.start_time }}</p>
<p>End Time: {{ opportunity.end_time }}</p>
<p>Hours: {{ opportunity.hours }}</p>
<p>Deadline: {{ opportunity.deadline }}</p>
<p>Required Materials:
  {% for r in range(opportunity.required_materials|length) -%}
  {% if r > 0 %}, {% endif %}
  {{opportunity.required_materials[r].name}}
  {%- endfor %}
</p>
<p>Tags:
  {% for t in range(opportunity.tags|length) -%}
  {% if t > 0 %}, {% endif %}
  {{opportunity.tags[t].name}}
  {%- endfor %}
</p>
<p>Link: {{ opportunity.link }}</p>

<br><br><br><br><br><br>
{% endblock body %}
