@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
	margin: 3vw;
}

h1{
	color: #173753;
}

h4{
	color: #4F6D7A;
}

.btn{
	background-color: #173753;
	color: #C0D6DF;
}

.btn:hover{
	background-color: #166088;
	color: #C0D6DF;
}

.btn:active{
	background-color: #166088;
	color: #C0D6DF;
}

.dropdown-menu{
	color: #C0D6DF;
}

.opp{
    background-color: #C0D6DF;
		color: #4F6D7A;
    margin: 1vw;
    width: 60vw;
}

.opp h3{
	color: #4A6FA5;
}

.navbar{
	background-color: #DBE9EE;
	color: #4F6D7A;
	position: absolute;
}

button.accordion {
    background-color: #C0D6DF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #166088;
		color: #DBE9EE;
}

button.accordion:after {
    content: '\025C0'; /* "<" sign */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\025BC"; /* "v" sign */
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: #C0D6DF;
		color: #4F6D7A;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 2.3vw;
		color: #4F6D7A;
}

.tog {
    position: absolute;
    left: -100vw;
    align-self: right;
}

.toggle {
    color: #166088;
    font-size: 2vw;
    padding-left: 4vw;
    cursor: pointer;
}

.toggle:clicked{
		text-decoration: none;
}
