@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
	margin: 3vw;
}

.opp{
    background-color: #e5e5e5;
    margin: 1vw;
    width: 60vw;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

.navbar {
	position: absolute;
	top: 0px;
}

.logo{
	font-family: 'Dancing Script', cursive;
	font-size: 2.3vw;
}