{% extends "admin/admin_base.html" %}
{% block body %}

<h1>Student Opportunities Bulletin</h1>
<h4><i>Please note there are offerings in many different fields, and remember that many deadlines are coming up fast. </i></h4>
<br>
<form method="GET" action="{{ url_for('admin.controller.search') }}">
    <div class="col-lg-6 pull-left">
    <div class="input-group">
      <input type="text" class="form-control" name="search" id="search" value="
{{ search_field }}" placeholder="Search for...">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->


    <br> <br> <br>

    <div class="col-md-8">
        <div class="row">
          <div class="col-md-10">
            <form action='/admin/add-opportunity/' method="POST">
              <h3>
              Name: <input type="text" name="name">
            </h3>
          </div>
        </div>
        <p> Description: <input type="text" name="description"> </p>
        <p> Organization: <input type="text" name="organization"> </p>
        <p> Hours: <input type="text" name="hours"> </p>
        <p> Required Material(s): <input type="text" name="required_materials"> </p>
        <p> Tag(s): <input type="text" name="tags"> </p>
        <p> Link: <input type="text" name="link"> </p>



        <input type="submit" value="Submit">
      </div>
    </div>

{% endblock body %}
