{% extends "admin/admin_base.html" %}
{% block body %}

<h1>Add Opportunity</h1>
<h4><i>Please note there are offerings in many different fields, and remember that many deadlines are coming up fast. </i></h4>
<br>

    <div class="col-md-8">
        <div class="row">
          <div class="col-md-10">
            <form action='/admin/add-opportunity/' method="POST">
              <h3>
              Name: <input type="text" name="name">
            </h3>
          </div>
        </div>
        <p> Description: <input type="text" name="description"> </p>
        <p> Organization: <input type="text" name="organization"> </p>
        <p> Hours Per Week: <input type="text" name="hours"> </p>
        <p> Required Material(s): <input type="text" name="required_materials"> </p>
        <p> Tag(s): <input type="text" name="tags"> </p>
        <p> Link: <input type="text" name="link"> </p>



        <input type="submit" value="Submit">
      </div>
    </div>

{% endblock body %}
