{% extends "admin/admin_base.html" %}
{% block body %}

<h1>Edit Opportunity</h1>
<br>
    <div class="col-md-8">
        <div class="row">
          <div class="col-md-10">
            <form action="/admin/edit-opportunity/{{opportunity.id}}" method="POST">
              <h3>
              Title <input type="text" class="form-control input-lg" name="name" value="{{opportunity.name}}">
            </h3>
          </div>
        </div>
        <p>Deadline: <input type="datetime-local" name="deadline" value="{{deadline}}"> </p>
        <p>Description <textarea type="text" class="form-control input-md descrip" name="description">{{opportunity.description}}</textarea> </p>
        <p>Organization <input type="text" class="form-control input-md" name="organization" value="{{opportunity.organization}}"></p>
        <p>Start Time: <input type="datetime-local" name="start_time" value="{{start_time}}"> </p>
        <p>End Time: <input type="datetime-local" name="end_time" value="{{end_time}}"> </p>
        <p>Hours Per Week <input type="text" class="form-control input-md" name="hours" value="{{opportunity.hours}}"></p>
        <p>Required Material(s)<input type="text" class="form-control input-md" name="required_materials" value="
            {%- for r in range(opportunity.required_materials|length) -%}
            {%- if r > 0 %}, {% endif -%}
            {{opportunity.required_materials[r].name}}
            {%- endfor %}
            "></p>
                    <p>Tag(s)<input type="text" class="form-control input-md" name="tags" value="
            {%- for t in range(opportunity.tags|length) -%}
            {%- if t > 0 %}, {% endif -%}
            {{opportunity.tags[t].name}}
            {%- endfor %}
            "></p>
        <p>Link(s)<input type="text" class="form-control input-md" name="link" value="{{opportunity.link}}"></p>
        <br> <input type="submit" value="Submit">
      </div>
    </div>
<br><br><br><br><br><br>
{% endblock body %}
