{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<h1 class="layerOne">Log in here</h1>
<form id="login-form" class="layerOne">

    <div class="form-group">

        <div class="row">
            <div class="col-md-6"><br><br><br><br><br><br>
                <h4>Username: <input class="form-control" type="text" name="username" placeholder="Username" required></h4>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <h4>Password: <input class="form-control" type="password" name="password" placeholder="Password" required></h4>
            </div>
        </div>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
</form>


{% endblock %}
