<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="../static/css/welcome.css">
  <script src="../static/js/main.js"></script>
</head>
<body>
  <div class="box">
    <span>
      <h1 class="logo">Stuyvesant Bulletin</h1>
      <br>
      <h3>A continuous source of <br>opportunities for the students <br>of Stuyvesant High School</h3>
      <br><br><br>
      <a type="button" class="btn btn-primary btn-xl" href="/auth/login">Login</a>
    </span>
  </div>

</body>
</html>
