<!-- {% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<h1>Student Opportunities</h1>

{% endblock %}
-->

<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
        <script src="/static/js/main.js"></script>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">The Blumm Project</a>
                </div>
                <div id="main-navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="/logout">Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>
 
    </head>

    <body>
      <center>
	<h1>Student Opportunities</h1>
	</center>
      <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
        <div class="container">

        </div>
    </body>
</html>
